{{!-- Modal opened by delete button --}}
{{!-- {{> fail-notification}} --}}
<div class="modal fade" id="deleteDish" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Dish</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="warning-body">
        ARE YOU SURE ?
        <br>
        <small id="warning-message">This dish will be permanently deleted.</small>
      </div>
      <div class="modal-footer">
        <form action="/deleteDish/{{id}}?_method=DELETE" method="POST">
          <button type="button" class="btn btn-secondary closing" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger" id="delete-dish">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{!-- modal opened by add button --}}
<div class="modal fade" id="addIngredient" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add a New Ingredient</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select id="selectIngredient">
          <option value="">--Ingredient</option>
        </select>
        <input type="number" value="1" name="portion" id="selectPortion">
        <select id="selectUnit">
          <option value="">--Unit</option>
          <option value="ounce">Ounce</option>
          <option value="gram">Gram</option>
          <option value="millimeter">Millimeter</option>
          <option value="litres">Litres</option>
          <option value="pound">Pound</option>
          <option value="teaspoon">Teaspoon</option>
          <option value="tablespoon">Tablespoon</option>
          <option value="cup">Cup</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="add-item" type="submit" class="btn btn-danger" id="add-ingredient" data-bs-dismiss="modal">Add
          Item</button>
      </div>
    </div>
  </div>
</div>
{{!-- Ingredient form for viewing and updating when it is published --}}
<div id="ingredient">
  <div id="ingredient-title">
    <span style="margin: 0 1rem;">
      <a href="/dish" class="btn btn-secondary">Back</a>
    </span>
    <h1>{{name}}</h1>
  </div>
  <div id="dish-form">

    <div class="col-md-12" id="newItem-section">
      <button type="button" class="btn btn-outline-primary" id="new-item" style="
        margin: 1rem;" data-bs-toggle="modal" data-bs-target="#addIngredient">New Item</button>
      <input type="number" name="portionValue" placeholder="Portion" class="disappear portionValue">
      <select class="disappear portionUnit">
        <option value="">--Unit</option>
        <option value="ounce">Ounce</option>
        <option value="gram">Gram</option>
        <option value="millimeter">Millimeter</option>
        <option value="litres">Litres</option>
        <option value="pound">Pound</option>
        <option value="teaspoon">Teaspoon</option>
        <option value="tablespoon">Tablespoon</option>
        <option value="cup">Cup</option>
      </select>
    </div>

    <form class="row" id="dish-table" data-dish-id="{{id}}">
      <table id="dish-list" class="table table-hover table-striped" style="overflow-y: auto;">
        <tr>
          <th>Ingredient</th>
          <th>Portion (g)</th>
          <th>Units</th>
          <th>Calories (cal)</th>
          <th>Carb (g)</th>
          <th>Protein (g)</th>
          <th>Fat (g)</th>
          <th>cholesterol (mg)</th>
          <th>trans_fat (g)</th>
          <th>sat_fat (g)</th>
          <th>fibre (g)</th>
          <th>sodium (mg)</th>
          <th>sugar (g)</th>
          <th>cost</th>
        </tr>
        {{#each ingredients}}
        <tr class="ingredient-info" name="ingredient-info">
          <td>
            <span class="left">
              <a href="/ingredient/{{ingredient_id}}" id="ingredient-link">
                {{ingredient_name}}
              </a>
              <i class="fa-solid fa-pen-to-square edit-btn" type="button"></i>
            </span>
            <span class="right disappear">
              <i class="fa-solid fa-check fa-xl check-btn" type="button"></i>
              <i class="fa-solid fa-xmark fa-xl cancel-btn" style="color: #fa0000;" type="button"></i>
            </span>
          </td>
          <td>{{ingredient_portion}}</td>
          <td>{{unit}}</td>
          <td>{{calories}}</td>
          <td>{{carb}}</td>
          <td>{{protein}}</td>
          <td>{{fat}}</td>
          <td>{{cholesterol}}</td>
          <td>{{trans_fat}}</td>
          <td>{{sat_fat}}</td>
          <td>{{fibre}}</td>
          <td>{{sodium}}</td>
          <td>{{sugar}}</td>
          <td>{{cost}}</td>
        </tr>
        {{/each}}
        <tr class="total">
          <td>Total</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>

      <div class="col-md-12">
        <button type="submit" class="btn btn-primary submit-tbn">Publish</button>
        <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteDish">Delete</a>
      </div>

    </form>
  </div>
</div>
