<div class="modal fade" id="addIngredient" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Ingredient</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/addIngredient" method="POST">
        <div class="modal-body row g-3 align-items-center">
          <div class="col-auto">
            <label for="name" class="col-form-label">Name:</label>
          </div>
          <div class="col-sm">
            <input type="text" class="form-control" name="name" required>
          </div>
          <div class="col-auto">
            <label for="carb" class="col-form-label">Carb:</label>
          </div>
          <div class="col-sm">
            <input type="text" class="form-control" name="carb" required>
          </div>
          <div class="col-auto">
            <label for="protein" class="col-form-label">Protein:</label>
          </div>
          <div class="col-sm">
            <input type="text" class="form-control" name="protein" required>
          </div>
          <div class="col-auto">
            <label for="fat" class="col-form-label">Fat:</label>
          </div>
          <div class="col-sm">
            <input type="text" class="form-control" name="fat" required>
          </div>
        </div>
        <div class="modal-footer col-auto">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" id="add-ingredient">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div>
  {{!-- search button --}}
  <button id="add-ingredient" class="btn btn-success" style="margin: 1rem 2rem;" data-bs-toggle="modal"
    data-bs-target="#addIngredient">Add
    Ingredient</button>
</div>
<table id="ingredient-list" class="table table-hover table-striped" style="overflow-y: auto;">
  <tr>
    <th>Ingredient</th>
    <th>Calories</th>
    <th>Carb</th>
    <th>Protein</th>
    <th>Fat</th>
  </tr>
  {{#each ingredient}}
  <tr>
    <td>
      <a href="/ingredient/{{id}}" id="ingredient-link">
        {{ingredient_name}}</a>
    </td>
    <td>{{calories}}</td>
    <td>{{carb}}</td>
    <td>{{protein}}</td>
    <td>{{fat}}</td>
  </tr>
  {{/each}}
</table>
<nav aria-label="Search results pages" class="pagination">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="/ingredient?page={{previous}}&limit={{limit}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link">{{thisPage}}</a></li>
    <li class="page-item">
      <a class="page-link" href="/ingredient?page={{next}}&limit={{limit}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
